table {
    border-bottom: 1px Solid Black; 
    border-right: 1px Solid Black; 
    border-collapse : collapse;  
}

table td, table th {
    border-left: 1px Solid Black; 
    border-top: 1px Solid Black;  
    border-bottom: 1px Solid Black;
    border-right:none;  
}

table td {
    max-width:800px;
    word-wrap:break-word;
}
.gwas_title {
    max-width:450px;
    word-wrap:break-word;
}

.gwas_trait {
    max-width:150px;
    word-wrap:break-word;
}

.gwas_snp {
    max-width:100px;
    word-wrap:break-word;
}

.gwas_gene {
    max-width:150px;
    word-wrap:break-word;
}

.abstract_txt {
    line-height:25px;
    height:75px;
    overflow: hidden;
}

#overview_bottom {
    display: none;
}

#overview_top {
    font-size : 75%;
}
